{{!-- <div class="row text-white">
  <div class="col-auto">
    <h2>Welcome, {{user_id}}!</h2>
  </div>
</div> --}}

<div class="row mt-4 text-white">
  <div class="col-md-6">
    <h3>Update Post:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Title:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" value="{{name}}"/>
      </div>
      <div class="form-group">
        <label for="project-desc">Description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc">{{description}}</textarea>
      </div>
      <div class="form-group">
        <button data-id="{{id}}" data-method="Update" type="submit" class=".update-project-form btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/updateProject.js"></script>